# **Automatidata project**

<img src="images/Pace.png" width="100" height="100" align=left>

# **PACE stages**

<img src="images/Plan.png" width="100" height="100" align=left>


## PACE: **Plan**

Consider the questions in your PACE Strategy Document and those below to craft your response:

<img src="images/Analyze.png" width="100" height="100" align=left>

## PACE: **Analyze**

Consider the questions in your PACE Strategy Document to reflect on the Analyze stage.

### **Task 2a. Build dataframe**

In [26]:
# Import libraries and packages

import pandas as pd
import numpy as np

# Load dataset into dataframe
df = pd.read_csv('..\\data\\Proessed\\2017_Yellow_Taxi_Trip_Data.csv')
print("done")

done

In [28]:
# Display first 10 rows of the dataframe
df.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,1,N,100,231,1,13.0,0.0,0.5,2.76,0.0,0.3,16.56
1,35634249,1,04/11/2017 2:53:28 PM,04/11/2017 3:19:58 PM,1,1.80,1,N,186,43,1,16.0,0.0,0.5,4.00,0.0,0.3,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,1,N,262,236,1,6.5,0.0,0.5,1.45,0.0,0.3,8.75
3,38942136,2,05/07/2017 1:17:59 PM,05/07/2017 1:48:14 PM,1,3.70,1,N,188,97,1,20.5,0.0,0.5,6.39,0.0,0.3,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,1,N,4,112,2,16.5,0.5,0.5,0.00,0.0,0.3,17.80
5,23345809,2,03/25/2017 8:34:11 PM,03/25/2017 8:42:11 PM,6,2.30,1,N,161,236,1,9.0,0.5,0.5,2.06,0.0,0.3,12.36
6,37660487,2,05/03/2017 7:04:09 PM,05/03/2017 8:03:47 PM,1,12.83,1,N,79,241,1,47.5,1.0,0.5,9.86,0.0,0.3,59.16
7,69059411,2,08/15/2017 5:41:06 PM,08/15/2017 6:03:05 PM,1,2.98,1,N,237,114,1,16.0,1.0,0.5,1.78,0.0,0.3,19.58
8,8433159,2,02/04/2017 4:17:07 PM,02/04/2017 4:29:14 PM,1,1.20,1,N,234,249,2,9.0,0.0,0.5,0.00,0.0,0.3,9.80
9,95294817,1,11/10/2017 3:20:29 PM,11/10/2017 3:40:55 PM,1,1.60,1,N,239,237,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55

In [30]:
# Get information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [32]:
# Get descriptive statistics of the dataframe
df.describe()

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,2.269900e+04,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
mean,5.675849e+07,1.556236,1.642319,2.913313,1.043394,162.412353,161.527997,1.336887,13.026629,0.333275,0.497445,1.835781,0.312542,0.299551,16.310502
std,3.274493e+07,0.496838,1.285231,3.653171,0.708391,66.633373,70.139691,0.496211,13.243791,0.463097,0.039465,2.800626,1.399212,0.015673,16.097295
min,1.212700e+04,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-120.300000
25%,2.852056e+07,1.000000,1.000000,0.990000,1.000000,114.000000,112.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.750000
50%,5.673150e+07,2.000000,1.000000,1.610000,1.000000,162.000000,162.000000,1.000000,9.500000,0.000000,0.500000,1.350000,0.000000,0.300000,11.800000
75%,8.537452e+07,2.000000,2.000000,3.060000,1.000000,233.000000,233.000000,2.000000,14.500000,0.500000,0.500000,2.450000,0.000000,0.300000,17.800000
max,1.134863e+08,2.000000,6.000000,33.960000,99.000000,265.000000,265.000000,4.000000,999.990000,4.500000,0.500000,200.000000,19.100000,0.300000,1200.290000

In [34]:
# Sort the data by trip distance from maximum to minimum value
sorted_trip_distance = df.sort_values(by='trip_distance', ascending=False)
print(sorted_trip_distance[['trip_distance', 'total_amount']].head(20))

       trip_distance  total_amount
9280           33.96        150.30
13861          33.92        258.21
6064           32.72        179.06
10291          31.95        131.80
29             30.83        111.38
18130          30.50        119.31
5792           30.33         73.20
15350          28.23         62.96
10302          28.20         70.27
2592           27.97         63.06
20612          27.88         89.16
1908           27.34         88.56
20545          27.20         88.55
4138           26.86         94.75
15169          26.54         86.76
1496           26.39         70.27
7217           26.20         74.80
908            26.12        121.56
19483          26.12         58.56
4715           25.86         85.06

In [36]:
# Sort the data by total amount and print the top 20 values

sorted_total_amount_top = df.sort_values(by='total_amount', ascending=False)
print(sorted_total_amount_top[['trip_distance', 'total_amount']].head(20))

       trip_distance  total_amount
8476            2.60       1200.29
20312           0.00        450.30
13861          33.92        258.21
12511           0.00        233.74
15474           0.00        211.80
6064           32.72        179.06
16379          25.50        157.06
3582            7.30        152.30
11269           0.00        151.82
9280           33.96        150.30
1928           12.50        137.80
10291          31.95        131.80
6708            0.32        126.00
11608          23.00        123.30
908            26.12        121.56
7281            0.00        120.96
18130          30.50        119.31
13621          19.80        115.94
13359           0.00        111.95
29             30.83        111.38

In [38]:
# Sort the data by total amount and print the bottom 20 values
sorted_total_amount_bottom = df.sort_values(by='total_amount', ascending=True)
print(sorted_total_amount_bottom[['trip_distance','total_amount']].tail(20))

       trip_distance  total_amount
29             30.83        111.38
13359           0.00        111.95
13621          19.80        115.94
18130          30.50        119.31
7281            0.00        120.96
908            26.12        121.56
11608          23.00        123.30
6708            0.32        126.00
10291          31.95        131.80
1928           12.50        137.80
9280           33.96        150.30
11269           0.00        151.82
3582            7.30        152.30
16379          25.50        157.06
6064           32.72        179.06
15474           0.00        211.80
12511           0.00        233.74
13861          33.92        258.21
20312           0.00        450.30
8476            2.60       1200.29

In [40]:
# payment type are represented in the data

payment_counts = df['payment_type'].value_counts()
print(payment_counts)

payment_type
1    15265
2     7267
3      121
4       46
Name: count, dtype: int64

According to the data dictionary, the payment method was encoded as follows:

1 = Credit card  
2 = Cash  
3 = No charge  
4 = Dispute  
5 = Unknown  
6 = Voided trip

In [42]:
# What is the average tip for trips paid for with credit card?
avg_tip_credit_card = df[df['payment_type'] == 1]['tip_amount'].mean()
print(f'average tip for trips paid for with credit card: {avg_tip_credit_card}')
# What is the average tip for trips paid for with cash?
avg_tip_cash = df[df['payment_type'] == 2]['tip_amount'].mean()
print(f'average tip for trips paid for with cash: {avg_tip_cash}')

average tip for trips paid for with credit card: 2.7298001965280054
average tip for trips paid for with cash: 0.0

In [44]:
# How many times is each vendor ID represented in the data?

vendor_counts = df['VendorID'].value_counts()
# print(f'vendor counts: {vendor_counts}')
print(vendor_counts)

VendorID
2    12626
1    10073
Name: count, dtype: int64

In [46]:
# What is the mean total amount for each vendor?

mean_total_amount_per_vendor = df.groupby('VendorID')['total_amount'].mean()
print(mean_total_amount_per_vendor)

VendorID
1    16.298119
2    16.320382
Name: total_amount, dtype: float64

In [48]:
# Filter the data for credit card payments only
credit_card_df = df[df['payment_type'] == 1]
print(credit_card_df.head())

# Filter the credit-card-only data for passenger count only
filtered_passenger_count = credit_card_df['passenger_count']
print(filtered_passenger_count.value_counts())

   Unnamed: 0  VendorID   tpep_pickup_datetime  tpep_dropoff_datetime  \
0    24870114         2  03/25/2017 8:55:43 AM  03/25/2017 9:09:47 AM
1    35634249         1  04/11/2017 2:53:28 PM  04/11/2017 3:19:58 PM
2   106203690         1  12/15/2017 7:26:56 AM  12/15/2017 7:34:08 AM
3    38942136         2  05/07/2017 1:17:59 PM  05/07/2017 1:48:14 PM
5    23345809         2  03/25/2017 8:34:11 PM  03/25/2017 8:42:11 PM

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                6           3.34           1                  N
1                1           1.80           1                  N
2                1           1.00           1                  N
3                1           3.70           1                  N
5                6           2.30           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0           100           231             1         13.0    0.0      0.5
1           186            43             1         16.0    0.0      0.5
2           262           236             1          6.5    0.0      0.5
3           188            97             1         20.5    0.0      0.5
5           161           236             1          9.0    0.5      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount
0        2.76           0.0                    0.3         16.56
1        4.00           0.0                    0.3         20.80
2        1.45           0.0                    0.3          8.75
3        6.39           0.0                    0.3         27.69
5        2.06           0.0                    0.3         12.36
passenger_count
1    10977
2     2168
5      775
3      600
6      451
4      267
0       27
Name: count, dtype: int64

In [50]:
# Calculate the average tip amount for each passenger count (credit card payments only)

avg_tip_per_passenger  = credit_card_df.groupby('passenger_count')['tip_amount'].mean()
print(avg_tip_per_passenger)

passenger_count
0    2.610370
1    2.714681
2    2.829949
3    2.726800
4    2.607753
5    2.762645
6    2.643326
Name: tip_amount, dtype: float64

<img src="images/Construct.png" width="100" height="100" align=left>

## PACE: **Construct**

**Note**: The Construct stage does not apply to this workflow. The PACE framework can be adapted to fit the specific requirements of any project.

<img src="images/Execute.png" width="100" height="100" align=left>

## PACE: **Execute**

Consider the questions in your PACE Strategy Document and those below to craft your response.

### **Given your efforts, what can you summarize for DeShawn and the data team?**

In summary for DeShawn and the data team, the TLC dataset contains essential columns relevant to taxi trips, particularly trip_distance and total_amount, which are crucial for building a predictive model to estimate fares. A review of the dataset showed the data types (Dtype) and non-null counts, identifying any missing values. While the relevant columns will contribute significantly to fare predictions, columns like ID and PULocationID may be irrelevant and considered for exclusion. Additionally, creating new variables, such as fare per mile or fare per passenger, could enhance analysis. Preliminary inspections revealed some anomalies in trip_distance and total_amount, indicating potential outliers or data entry errors that may need further investigation.